[data-testid="stAppViewContainer"] {
    background-image: url("https://i.pinimg.com/1200x/1e/5a/27/1e5a27eed11a500b2c242e6750f71e98.jpg");
    background-size: cover;
    background-position: center;
}

section.main > div {
    background: rgba(255,255,255,0.9);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

h1 {
    color: #e63946;
    text-align: center;
    font-weight: 700;
}

div.stButton > button {
    background-color: #457b9d;
    color: white;
    border-radius: 12px;
    font-weight: 600;
}
div.stButton > button:hover {
    background-color: #1d3557;
}
