body {
  background-image: url('https://i.pinimg.com/1200x/1e/5a/27/1e5a27eed11a500b2c242e6750f71e98.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1, h2, h3, h4 {
  color: #222831;
  font-family: 'Poppins', sans-serif;
}

.stButton>button {
  background-color: #FF4B2B;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
}

.stButton>button:hover {
  background-color: #ff6b4a;
}

